[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 10.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 10.0

[submodule "OCA/manufacture"]
	path = OCA/manufacture
	url = git@github.com:OCA/manufacture.git
	branch = 10.0

[submodule "Eficent/ddmrp"]
	path = Eficent/ddmrp
	url = git@github.com:Eficent/ddmrp.git
	branch = 10.0

[submodule "morphace/oca_extract"]
	path = morphace/oca_extract
	url = git@github.com:morphace/oca_extract.git
	branch = master
